# Dependencies
**/node_modules/

# Builds
**/dist/
**/build/

# Env files
*.env
!.env.example
**/.env.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/logs

# Runtime
**/tmp
**/.DS_Store

